*                       text=auto

.coveragerc             text
.editorcondig           text
.gitattributes          text
.gitignore              text

*.db                    binary
*.icns                  binary
*.ico                   binary
*.png                   binary

*.in                    text
*.ini                   text
*.md                    text
*.py 	            	text
*.rst                   text
*.svg                   text
*.txt                   text
*.xpm                   text
*.yml                   text
